<div class="main-div">
<mat-card >
  <mat-card-title >CAR LIST</mat-card-title>
  <mat-card-content>
    <mat-list class="inline-list">
      <mat-list-item  *ngFor="let car of cars">
        <img mat-list-avatar src="{{car.giphyUrl}}" alt="{{car.name}}">
        <h2 mat-line>
          <a mat-button [routerLink]="['/car-edit', car.id]">{{car.name}}</a>
          
        </h2>
        <h5 mat-line>Owner: {{car?.ownerDni}}</h5>
        
        
        <mat-divider></mat-divider>
        
      </mat-list-item>
      
    </mat-list>
  </mat-card-content>

  <button class="color-boton" mat-raised-button color="Accent" [routerLink]="['/car-add']">Add Car</button>
</mat-card>
</div>